RewriteEngine On
RewriteBase /

#
## Force No-WWW ##
#
RewriteCond %{HTTP_HOST} ^kobeohio\.com$
RewriteRule ^(.*)$ http://www.kobeohio.com/$1 [R=301,L]

#
## Internally redirect gallery pages
#
RewriteRule ^gallery/$ gallery.php [L]
RewriteRule ^gallery/([0-9a-zA-Z]+)/$ gallery.php?photo=$1 [L]

#
## Externally redirect index to root
#
#RewriteRule ^index(\.html|/)$ ../ [R=301,L]

#
## Internally rewrite extension-less file requests to .html files ##
#
# If the requested URI does not contain a period in the final path-part
RewriteCond %{REQUEST_URI} !(\.[^./]+)$
# and if it does not exist as a directory
RewriteCond %{REQUEST_FILENAME} !-d
# and if it does not exist as a file
RewriteCond %{REQUEST_FILENAME} !-f
# then add .html to get the actual filename
RewriteRule ^(.+)/$ /$1.html [L]

#
## Externally redirect clients directly requesting .html page URIs to extension-less URIs
#
# If client request header contains html file extension
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^.]+\.)+html\ HTTP
# externally redirect to extension-less URI
RewriteRule ^(.+)\.html$ $1/ [R=301]

#
## Externally redirect clients to force trailing slash
#
# If request doesn't end with a slash
RewriteCond %{REQUEST_URI} !/$
# and if it does not exist as a directory
RewriteCond %{REQUEST_FILENAME} !-d
# and if it does not exist as a file
RewriteCond %{REQUEST_FILENAME} !-f
# rewrite it so that it ends with a slash
RewriteRule ^(.+)$ $1/ [R=301,L]
